


.texto-rojo {
    color: red; 
}

.texto-negro {
    color: black;
    font-family: 'Protest Guerrilla', system-ui;
    padding: 1px;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
}

.texto-blanco {
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    padding: 20px;
    font-weight: 10;
    text-align: left;
    font-size: 30px;
}



.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

  .iconos a {
    color: white; /* Cambia el color de los íconos */
    font-size: 20px; /* Ajusta el tamaño de los íconos */
    margin: 0 10px; /* Añade un margen entre los íconos */
    transition: color 0.3s ease; /* Efecto suave al cambiar el color */

}






.nombre-izquierda {
    color: white;
    padding: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.sobremi {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: bold;
    border-radius: 30px;
    background-size: 10px;
    text-align: left;

}

.subtitulos {

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.contenido-exp {

background-color: black;
text-align: left;
padding: 20px;
border-radius: 10px;


}







.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dddddd82;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.438);
    color: black;
    text-align: left;
}



.content {
    padding: 50px;
    text-align: center;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.iconos a {
        color: white; 
        font-size: 90px; 
        margin: 0 10px; 
        transition: color 0.3s ease; 
    }
    
.iconos a:hover {
        color: black; 
    }



    .imagenperfil {
        image-orientation: flip;
        align-items: right;
        margin-top: 20px;
        padding: 100px ;
    }